body 
{
    background-image: url('image.jpg');
    background-size: cover;
    color: white;

}
div
{
border-style:dashed;
border-width: 10px;
border-color:darkgray;
box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.199);
width: 150px;
height: 100px;
margin: 30px;
background-image:linear-gradient(gray,white);
}
